@import "app/design/fonts.scss";

.footer {
  background: var(--whiteColor);
}

.content {
  display: grid;
  align-items: start;

  padding: 35px 0;
  grid-template-areas: "logo nav icons";
  grid-template-columns: auto 1fr auto;
  gap: 90px;
}

.icons {
  display: flex;
  gap: 20px;
}
