@import "../../design/fonts.scss";

.title {
  margin-bottom: 30px;

  text-align: center;

  @include title-1-semibold($weight: 500);
}

.content {
  padding: 40px 0;
}

.card {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.desc {
  max-width: 60%;
  margin-bottom: 30px;

  white-space: pre-line;
}

.header {
  position: relative;

  display: flex;
  justify-content: flex-end;

  margin-bottom: 20px;
}

.score {
  position: absolute;
  left: 50%;

  display: flex;
  justify-content: space-between;

  margin-left: -20px;
  gap: 5px;

  @include title-4-medium();
}

.text {
  margin-bottom: 20px;

  @include title-3-medium();
}

.photo {
  width: 100%;
  height: auto;
  margin-bottom: 30px;

  border-radius: 6px;
}

.option {
  max-width: 60%;
  margin-top: 5px;
  margin-left: 2px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;
}

.resultTitle {
  margin: 60px 0;

  text-align: center;

  &.success {
    color: var(--greenColor);
  }

  &.failed {
    color: var(--errorColor);
  }

  @include title-3-medium();
}

.emoji {
  margin: 0 auto 60px;
}
