@import "../../../design/fonts.scss";

.wrapper {
  position: relative;
}

.label {
  margin-bottom: 12px;

  @include subhead-regular();
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 12px;

  border: 1px solid var(--borderInputColor);
  border-radius: 6px;
  background: var(--inputBg);

  &:focus {
    border: 1px solid var(--borderInputColorFocus);
    outline: none;
  }

  &::placeholder {
    @include text-regular($color: var(--placeholderColor));
  }
}

.error {
  position: absolute;
  bottom: -18px;
  left: 0;

  @include caption-2-medium($color: var(--errorColor));
}

.eyeIcon {
  position: absolute;
  right: 14px;
  bottom: 50%;

  margin-bottom: -8px;

  cursor: pointer;
}
