@import "../../../design/fonts.scss";

.marker {
  min-width: 16px;
  min-height: 16px;

  /* Стиль стандартного маркера */
  cursor: pointer;

  border-radius: 50%;
  outline: 1px solid var(--sky-60);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover {
    /* Стили маркеров при наведении на весь блок radioButton */
    :not(input:disabled, input:checked) + .marker {
      /* Стили базового маркера, если он НЕ disabled и НЕ checked */
      outline: 1px solid var(--blueColor);
    }
  }

  @include text-regular();
}

.input {
  display: none;

  &:checked {
    /* Стили для маркеров, когда input checked */
    & + .marker {
      position: relative;

      border-radius: 50%;
      outline: 1px solid var(--blueColor);

      &::before {
        position: absolute;
        top: 4px;
        left: 4px;

        width: 8px;
        height: 8px;

        content: "";

        border-radius: 50%;
        background: var(--blueColor);
      }
    }
  }
}

.label {
  /* Стиль ярлыка */
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  color: var(--sky-80);

  &:hover {
    color: var(--sky-100);
  }
}
