@import "../../../design/fonts.scss";

.marker {
  cursor: pointer;

  border: none;
  background: none;
  outline: 1px solid var(--sky-60);

  &_size_s {
    min-width: 16px;
    min-height: 16px;
  }

  &_size_l {
    min-width: 32px;
    min-height: 32px;
  }

  &_round {
    border-radius: 50%;
  }

  &_box {
    border-radius: 6px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover {
    /* Стили маркеров при наведении на весь блок radioButton */
    :not(input:disabled, input:checked) + .marker {
      /* Стили базового маркера, если он НЕ disabled и НЕ checked */
      outline: 1px solid var(--blueColor);
    }
  }

  @include text-regular();
}

.input {
  display: none;

  &:checked {
    /* Стили для маркеров, когда input checked */
    & + .marker {
      position: relative;

      outline: 1px solid var(--blueColor);

      &::before {
        position: absolute;
        top: 15%;
        left: 15%;
        right: 15%;
        bottom: 15%;

        width: 70%;
        height: 70%;

        content: "";

        border-radius: 6px;
        background: var(--blueColor);
      }
    }
  }
}

.labelWrapper {
  display: flex;
  align-items: center;
}

.label {
  /* Стиль ярлыка */
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  margin-left: 10px;

  color: var(--sky-80);

  &:hover {
    color: var(--sky-100);
  }
}
