@import "../../../design/fonts.scss";

.wrapper {
  display: flex;
  align-items: center;
  position: relative;

  @include text-regular();
}

.input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin: 0;
  outline: 2px solid var(--sky-60);
  border-radius: 50%;
  position: relative;
  transition: outline .2s;

  &_size_s {
    min-width: 16px;
    min-height: 16px;
  }

  &_size_l {
    min-width: 32px;
    min-height: 32px;
  }

  &_round {
    border-radius: 50%;
  }

  &_box {
    border-radius: 6px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    width: 70%;
    height: 70%;
    transition: background .2s;
  }

  &_round::before {
    border-radius: 50%;
  }

  &_box::before {
    border-radius: 6px;
  }

  &:checked {
    outline: 2px solid var(--blueColor);
  }

  &:checked::before {
    background: var(--blueColor);
  }
}


.label {
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  margin-left: 10px;

  color: var(--sky-80);

  &:hover {
    color: var(--sky-100);
  }
}

.error {
  position: absolute;
  bottom: -18px;
  left: 0;

  @include caption-2-medium($color: var(--errorColor));
}