@import '../../../design/fonts.scss';

.footer {
  background: var(--whiteColor);
}

.content {
  padding: 35px 0;
  display: grid;
  grid-template-areas: 'logo nav icons';
  grid-template-columns: auto 1fr auto;
  gap: 90px;
  align-items: start;
}

.icons {
  display: flex;
  gap: 20px;
}