@import "../../design/fonts.scss";
@import "../../design/share.scss";

.page {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 120px 0;
}

.form {
  @extend %form;
}

.title {
  text-align: center;

  @include title-2-regular();
}

.link {
  transition: all 0.2s ease-in-out;

  &:hover {
    text-decoration: underline;
  }

  @include caption-2-medium($color: var(--blueColor));
}
