@import '../../design/fonts.scss';
@import '../../design/share.scss';

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.form {
  @extend %form;
}

.title {
  @include title-2-regular();
  text-align: center;
}

.link {
  @include caption-2-medium($color: var(--blueColor));
  transition: all .2s ease-in-out;

  &:hover {
    text-decoration: underline;
  } 
}