@import "../../../design/fonts.scss";

.wrapper {
  padding: 10px;

  opacity: 0.8;
  border: 2px solid var(--errorColor);
  border-radius: 8px;
  background: var(--errorColor);
}

.error {
  @include text-regular($color: var(--whiteColor));
}
