@import 'app/design/fonts.scss';
@import 'app/design/animations.scss';

.notification {
  display: flex;
  align-items: center;
  padding: 14px;
  position: fixed;
  right: 20px;
  top: 80px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  max-width: 40%;
  visibility: hidden;
  
  &_visible {
    visibility: visible;
    animation: move 2s;
  }

  &:hover {
    .delete {
      opacity: 1;
    }
  }
}

.delete {
  position: absolute;
  right: -16px;
  top: -16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s;
}

.icon {
  max-width: 32px;
  min-width: 32px;
}

.text {
  @include title-4-medium();
  margin-left: 20px;
}