@import '../../design/fonts.scss';

.content {
  padding: 40px 0;
}

.preview {
  height: 360px;
  position: relative;
  overflow: hidden;
}

.previewImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.avatarImg {
  position: absolute;
  margin-bottom: -85px;
  bottom: 40%;
  left: 8%;
  width: 13%;
  aspect-ratio: 1 / 1;
  border: 10px solid var(--cardColor);
  border-radius: 50%;
  object-fit: cover;
}

.bio {
  padding: 20px 25px 30px calc(8% + 180px + 30px);
}

.name {
  @include title-2-regular($weight: 600);
  margin-bottom: 15px;
}

.desc {
  @include title-4-medium($weight: 400);
}

.resume {
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  @include title-3-medium();
  text-align: center;
  margin-bottom: 20px;
}

.resumeTitle {
  @include title-4-medium($weight: 600);
}

.resumeSalary {
  @include text-medium($color: var(--greenColor));
}

.resumeBtn {
  text-align: center;
  align-self: stretch;
}

.resumeAdd {
  @include text-medium($color: var(--sky-90));
  background: var(--sky-5);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.plusIcon {
  width: 50px;
  height: 50px;
  fill: var(--sky-20);
}

.passedTests {
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 18%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  background: var(--sky-5);
}

.testTitle {
  @include title-4-medium($weight: 600);
}

.testCover {
  border-radius: 6px;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.result {
  @include text-medium($color: var(--greenColor));
}

.testBtn {
  text-align: center;
}