@import "app/design/fonts.scss";

.content {
  padding: 40px 0;
}

.preview {
  position: relative;

  overflow: hidden;

  height: 360px;
}

.previewImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.avatarImg {
  position: absolute;
  bottom: 40%;
  left: 8%;

  width: 13%;
  margin-bottom: -85px;

  border: 10px solid var(--cardColor);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.bio {
  padding: 20px 25px 30px calc(8% + 180px + 30px);
}

.name {
  margin-bottom: 15px;

  @include title-2-regular($weight: 600);
}

.desc {
  @include title-4-medium($weight: 400);
}

.resume {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  padding: 30px;
  gap: 20px;
}

.label {
  margin-bottom: 20px;

  text-align: center;

  @include title-3-medium();
}

.resumeTitle {
  @include title-4-medium($weight: 600);
}

.resumeSalary {
  @include text-medium($color: var(--greenColor));
}

.resumeBtn {
  align-self: stretch;

  text-align: center;
}

.resumeAdd {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 30px;

  background: var(--sky-5);
  transition: background .3s ease-in-out;
  gap: 20px;

  @include text-medium($color: var(--sky-90));

  &:hover {
    background: var(--sky-10);
  }
}

.plusIcon {
  width: 50px;
  height: 50px;
  fill: var(--sky-20);
}

.passedTests {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  padding: 30px;
  gap: 20px;
}

.list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 18%);
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;

  border-radius: 6px;
  border: 1px solid var(--sky-20);
  gap: 15px;

  transition: background .3s ease-in-out;

  &:hover {
    background: var(--sky-3);
  }
}

.testTitle {
  @include title-4-medium($weight: 600);
}

.testCover {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.result {
  @include text-medium($color: var(--greenColor));
}

.testBtn {
  text-align: center;
}
