:root {
  --whiteColor: #ffffff;
  --blueColor: #00539F;
  --nevaColor: #0276B2;
  --errorColor: #CD252F;
  --greenColor: #43A843;

  // DARK COLORS
  --sky-100: #1b1b1b;
  --sky-90: #323232;
  --sky-80: #494949;
  --sky-70: #606060;
  --sky-60: #767676;
  --sky-50: #8d8d8d;
  --sky-40: #a4a4a4;
  --sky-30: #bbbbbb;
  --sky-20: #d1d1d1;
  --sky-10: #e9e9e9;
  --sky-5: #f4f4f4;
  --sky-3: #f3f3f3;
  --sky-0: #ffffff;

  // FONT SIZES
  --font-s: 0.75rem; //12px
  --font-m: 0.8125rem; //13px
  --font-l: 0.875rem; //14px
  --font-xl: 0.9375rem //15px
  --font-xxl: 1rem; //16px
  --font-h4: 1.125rem; //18px
  --font-h3: 1.5rem; //24px
  --font-h2: 1.875rem; //30px
  --font-h1: 2.75rem; //44px
}

:root, :root[data-theme="light"] {
  --placeholderColor: #8D8D8D;
  --bgColor: #F7F9FB;
  --cardColor: #FFFFFF;
  --borderInputColor: #E9E9E9;
  --borderInputColorFocus: #a4a4a4;
  --formBg: #fff;
  --inputBg: #F4F4F4;
  --labelColor: #494949;
}

:root[data-theme="dark"] {
  --placeholderColor: #8D8D8D;
  --bgColor: #F7F9FB;
  --cardColor: #FFFFFF;
  --borderInputColor: #E9E9E9;
  --formBg: #000;
  --inputBg: #F4F4F4;
}