@mixin title-1-semibold($color: var(--sky-100), $size: var(--font-h1), $weight: 600) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.18;
  color: $color;
}

@mixin title-2-regular($color: var(--sky-100), $size: var(--font-h2), $weight: 400) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.2;
  letter-spacing: 0.015rem;
  color: $color;
}

@mixin title-3-medium($color: var(--sky-100), $size: var(--font-h3), $weight: 500) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.17;
  color: $color;
}

@mixin title-4-medium($color: var(--sky-100), $size: var(--font-h4), $weight: 500) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.17;
  color: $color;
}

@mixin headline-regular($color: var(--sky-100), $size: var(--font-xxl), $weight: 400) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.25;
  letter-spacing: -0.02rem;
  color: $color;
}

@mixin headline-medium($color: var(--sky-100), $size: var(--font-xxl), $weight: 500) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.25;
  letter-spacing: -0.02rem;
  color: $color;
}

@mixin text-regular($color: var(--sky-100), $size: var(--font-xl), $weight: 400) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.6;
  letter-spacing: 0.015rem;
  color: $color;
}

@mixin text-medium($color: var(--sky-100), $size: var(--font-xl), $weight: 500) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.6;
  letter-spacing: 0.015rem;
  color: $color;
}

@mixin subhead-regular($color: var(--sky-100), $size: var(--font-l), $weight: 400) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.29;
  letter-spacing: -0.01rem;
  color: $color;
}

@mixin subhead-medium($color: var(--sky-100), $size: var(--font-l), $weight: 500) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.29;
  letter-spacing: -0.01rem;
  color: $color;
}

@mixin subhead-bold($color: var(--sky-100), $size: var(--font-l), $weight: 700) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.29;
  letter-spacing: -0.01rem;
  color: $color;
}

@mixin caption-1-regular($color: var(--sky-100), $size: var(--font-m), $weight: 400) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.23;
  letter-spacing: -0.005rem;
  color: $color;
}

@mixin caption-1-medium($color: var(--sky-100), $size: var(--font-m), $weight: 500) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.23;
  letter-spacing: -0.005rem;
  color: $color;
}

@mixin caption-caps-1-medium($color: var(--sky-100), $size: var(--font-m), $weight: 600) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.23;
  letter-spacing: -0.005rem;
  color: $color;
}

@mixin caption-2-regular($color: var(--sky-100), $size: var(--font-l), $weight: 400) {
  font-weight: $weight;
  font-size: $size;
  line-height: 1.17;
  color: $color;
}

@mixin caption-2-medium($color: var(--sky-100), $size: var(--font-l), $weight: 500) {
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 1.17;
  color: $color;
}